 form {
     align-content: "center";
     column-span: 2;
     colspan: 2;
     text-align: center;
 }
 
 body {
     background: #B5B5B5;
 }
 
 h2 {
     color: #000;
     font-family: "Georgia, Times New Roman, Times, serif";
 }
 
 panel {
     padding-top: 150px;
 }