heading {
    align-content: center;
    font-family: Monotype Corsiva;
    font-size: 30px;
}

 panel-body {
     background: #B5B5B5;
 }
 
 h2 {
     color: #000;
     font-family: "Georgia, Times New Roman, Times, serif";
 }